<!--
Wix Installer Application Component Settings
Copyright (C) 2024 Ronald B. Oakes

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of  MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="ConlangAudioHoning.exe">
					<Shortcut Name="Conlang Audio Honing"
							  Directory="StartMenuFolder"
							  Advertise="yes"
							  Icon="ConlangAudioHoning.ico"/>
				</File>
			</Component>
			<Component>
				<File Source="AWSSDK.Core.dll" />
			</Component>
			<Component>
				<File Source="AWSSDK.Polly.dll" />
			</Component>
			<Component>
				<File Source="AWSSDK.S3.dll" />
			</Component>
			<Component>
				<File Source="AWSSDK.SecurityToken.dll" />
			</Component>
			<Component>
				<File Source="AWSSDK.SSO.dll" />
			</Component>
			<Component>
				<File Source="AWSSDK.SSOOIDC.dll" />
			</Component>
			<Component>
				<File Source="ConlangJson.dll" />
			</Component>
			<Component>
				<File Source="ConlangAudioHoning.deps.json" />
			</Component>
			<Component>
				<File Source="ConlangAudioHoning.dll" />
			</Component>
			<Component>
				<File Source="ConlangAudioHoning.pdb" />
			</Component>
			<Component>
				<File Source="ConlangAudioHoning.runtimeconfig.json" />
			</Component>
			<Component>
				<File Source="ConlangAudioHoning.xml" />
			</Component>
			<Component>
				<File Source="ConlangJson.pdb" />
			</Component>
			<Component>
				<File Source="ConlangJson.xml" />
			</Component>
			<Component>
				<File Source="LanguageEditor.exe">
					<Shortcut Name="Language Editor"
							  Directory="StartMenuFolder"
							  Advertise="yes"
							  Icon="LanguageEditor.ico"/>
				</File>
			</Component>
			<Component>
				<File Source="LanguageEditor.dll"/>
			</Component>
			<Component>
				<File Source="LanguageEditor.pdb"/>
			</Component>
			<Component>
				<File Source="LanguageEditor.runtimeconfig.json"/>
			</Component>
			<Component>
				<File Source="LanguageEditor.deps.json"/>
			</Component>
			<Component>
				<File Source="Microsoft.CognitiveServices.Speech.csharp.dll" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="NativeComponents" Directory="NATIVE">
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.core.dll" />
			</Component>
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.extension.audio.sys.dll" />
			</Component>
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.extension.codec.dll" />
			</Component>
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.extension.kws.dll" />
			</Component>
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.extension.kws.ort.dll" />
			</Component>
			<Component>
				<File Source="runtimes\win-x64\native\Microsoft.CognitiveServices.Speech.extension.lu.dll" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="AwsPython" Directory="AWSFOLDER">
			<Component>
				<File Source="..\aws_python_source\authorization_module.py" />
			</Component>
			<Component>
				<File Source="..\aws_python_source\generate_authorization_entry.py" />
			</Component>
			<Component>
				<File Source="..\aws_python_source\lambda_function.py" />
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="UtilityPython" Directory="PYTHONUTIL">
			<Component>
				<File Source="..\conlang_json_python\conlang_lib.py"/>
			</Component>
			<Component>
				<File Source="..\conlang_json_python\lexicon_entry.py"/>
			</Component>
			<Component>
				<File Source="..\conlang_json_python\not_madlibs.py"/>
			</Component>
			<Component>
				<File Source="..\conlang_json_python\parse_vulgarlang.py"/>
			</Component>
			<Component>
				<File Source="..\conlang_json_python\write_lexicon_csv.py"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
