<!--
Wix Installer Application Configuration (Conlang Audio Honing and Language Editor)
Copyright (C) 2024 Ronald B. Oakes

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of  MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
				<Directory Id="AWSFOLDER" Name="aws_python_source"  />
				<Directory Id="PYTHONUTIL" Name="python_utilities" />
				<Directory Id="RUNTIMES" Name="runtimes">
					<Directory Id="WINX64" Name="win-x64">
						<Directory Id="NATIVE" Name="native" />
					</Directory>
				</Directory>
			</Directory>
		</StandardDirectory>
	</Fragment>
</Wix>
